modules = ["web", "nodejs-20"]
run = "NPM start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "NPM start"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 40502883
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 5000
externalPort = 80
